[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"

[packages]
beautifulsoup4 = "*"
requests = "*"
flask = "*"
gunicorn = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"

[scripts]
start = "python run.py"
test = "python scraping/pog.py"
